dialog
{
    padding: 0px;
    overflow: hidden;  
}
dialog#d[open]
{
    border-radius: 5px;
    width: 50% !important;
    height: 50% !important
    ;
}
#inner-dialog
{
    height: -webkit-fill-available;
    width: auto;
    padding: 15px;
}
