h1, h2, h3, h4, h5, p, a
{
    margin: 0px;
    padding: 0px;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
}

.container
{
    width: 95em;
    margin: auto;
}

.header
{
    margin: 0px;
}

.footer
{
    margin-bottom: 40px;
}

section
{
    padding: 20px 40px;
}
.mg-0
{
    margin: 0px;
}
.upper
{
    text-transform: uppercase;
}

.btn
{
    border: 3px #0074e3 solid;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn:hover
{
    background-color: #0074e3;
    color: white;   
}

.bg-blue
{
    background-color: #0074e3;
}
.blue-txt
{
    color: #0074e3;
}
.white-txt
{
    color: white;
}

dialog
{
    padding: 0px;
    overflow: hidden;  
}
dialog#d[open]
{
    border-radius: 20px;
    width: 50% !important;
    height: 50% !important
    ;
}
#inner-dialog
{
    height: -webkit-fill-available;
    width: auto;
    padding: 15px;
}
dialog:-internal-dialog-in-top-layer::backdrop
{
    background: rgba(0, 0, 0, 0.5);
}
